__pycache__/
*.pyc
uwsgi.ini
node_modules/
.env
manager/server/manager/management/commands/reset_dev_db.py 
reset_dev_db.py
client/cache/
client/html/desktop/index.html
client/html/mobile/index.html
release.sh
.DS_Store