celery
channels
Django
django-form-utils
django-js-asset
django-mptt
docker
ipython
mysqlclient
Pillow
requests
six
transliterate
pymysql
django_user_agents
google-cloud-translate
xlsxwriter
csscompressor
jsmin
cryptography
djangorestframework