{%load i18n%}
<div class="autocomplete fgk {{AdminModel}}" model="{{AdminModel}}">
	<div>
		<input type="text" autocomplete="off" placeholder="{%trans 'Enter searcg text'%}">
		<div class="variants"></div>

		<input autocomplete="off" type="hidden" name="{{ widget.name }}"{% if widget.value != None %} value="{{widget.value.id}}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>
	</div>
	<div>
		<div class="values">
			{%if widget.value%}
				<div class="value">
					<div class="remove" value="{{widget.value.id}}"><i class="ti ti-x"></i></div>
					<a href="/{{AdminModel}}/{{widget.id}}">{{widget.value}}</a>
				</div>
			{%endif%}
		</div>
	</div>
</div>