{%load i18n%}
<div id="fgk">
    <input type="text" name="fgk" value="" field="{{field}}" placeholder="{%trans 'Enter search text'%}">
    <div id="id_fgk_on_deck" class="results_on_deck values">
        {%for item in instance%}
            <div class="value">
                <span class="ui-icon ui-icon-trash remove" item-id="{{item.id}}"><i class="ti ti-x"></i></span> 
                <span class="tag">{{item}}</span>
                <input type="hidden" name="{{AdminModel}}[]" value="{{item}}">
            </div>
        {%endfor%}
    </div>
</div>