{%extends extends%}
{%load i18n%}
{%block main%}
    <div id="home">
        <div id="reload">
            <div class="container">
                {% trans "Servers memory" %}:
                <br>
                Total: {{memory_total}} Used: {{memory_used}} Left: {{memory_left}}
            </div>
            <div class="container">
                <div id="merchant">
                    <!-- {%include nav%} -->
                    <h2>Google Merchant Center</h2>
                    <div>
                        <span>{% trans "Status" %}: </span>
                        <span>{{merchant.get_task_status_display}}</span>
                    </div>
                    <div class="field">
                        <input type="text" placeholder="Min. price" id="merchant_min_price">
                        <div></div>
                    </div>
                    <button>{% trans "Create" %}</button>
                    <div>
                        <a href="/static/google_feed.txt" target="_blank">{% trans "Look" %}</a>
                    </div>
                </div>
                <div id="facebook_merchant">
                    <h2>Facebook Merchant</h2>
                    <div>
                        <span>{% trans "Status" %}: </span>
                        <span>{{facebook_merchant.get_task_status_display}}</span>
                    </div>
                    <div class="field">
                        <input type="text" placeholder="{% trans 'Min' %}. {% trans 'price' %}" id="facebook_merchant_min_price">
                        <div></div>
                    </div>
                    <button>{% trans "Create" %}</button>
                </div>
                <div id="sync_prices">
                    <h2>{% trans "Price synchronisation" %}</h2>
                    <div>
                        <span>{% trans "Status" %}: </span>
                        <span>{{sync_stock.get_task_status_display}}</span>
                    </div>
                    <button>{% trans "Create" %}</button>
                </div>
                <div id="stock">
                    <h2>{% trans "Sync availability" %}</h2>
                    <div>
                        <span>{% trans "Status" %}: </span>
                        <span>{{stock.get_task_status_display}}</span>
                    </div>
                    <button>{% trans "Create" %}</button>
                </div>
                <div id="cache">
                    <h2>{% trans "Cache" %}</h2>
                    <i class="ti ti-trash click"></i>
                </div>
                <div id="calculate_prices">
                    <h2>{% trans "Price sync" %}</h2>
                    <span>{% trans "Status" %}: </span>
                    <span>{{calculate_prices.get_task_status_display}}</span>
                </div>
            </div>
        </div>
    </div>
    <script>
        if(!document.querySelector('menu')) location.reload();
    </script>
{%endblock%}