{%extends 'index.html'%}
{%load url_filters%}
{%load i18n%}
{%block body%}
<div id="content">
    <div id="left">
        <div id="menu-mini">
            <div class="burger">
                <i class="ti ti-menu"></i>
            </div>
            {%include 'main/menu-mini.html'%}
        </div>
        {%include 'main/menu.html'%}
        <div class="change-database">
            <div class="custom-select">
                <select name="database">
                    <option value="" disabled="">{% trans 'Website' %}</option>
                    {%for site in sites%}
                        <option {%if site.database == request.session.database%}selected {%endif%}value="{{site.database}}" url="{{site.url}}">
                            {{site.name}}
                        </option>
                    {%endfor%}
                </select>
            </div>
        </div>
    </div>
    <main id="right">
    {%block main%}
    {%endblock%}
    </main>
</div>
{%endblock%}