{%load i18n%}
{%load url_filters%}
<div id="cart-icon" class="icon">
    <a href="/Order/" title="{%trans 'New Order'%}">
        <i data-lucide="shopping-cart"></i>
    </a>
</div>
<div id="cart-icon" class="icon">
    <a href="/Order" title="{%trans 'Orders'%}">
        <i data-lucide="tool-case"></i>
    </a>
</div>
<div id="products-icon" class="icon">
    <a href="/Product" title="{%trans 'Products'%}">
        <i data-lucide="package-search"></i>
    </a>
</div>
<div class="icon">
    <a href="/Category" title="{%trans 'Categories'%}">
        <i data-lucide="chart-bar-stacked"></i>
    </a>
</div>
<div class="icon">
    <a href="/Page" title="{%trans 'Pages'%}">
        <i data-lucide="book-open-text"></i>
    </a>
</div>
<div class="icon">
    <a href="/User" title="{%trans 'Users'%}">
        <i data-lucide="users"></i>
    </a>
</div>
<div id="settings-icon" class="icon">
    <a href="/" title="{%trans 'Home'%}">
        <i data-lucide="house"></i>
    </a>
</div>
<div id="lang-button">
    <i data-lucide="languages"></i>

    <div id="lang">
        {%for language in supported_languages%}
            <a {%if lang_code == language.code%}class="active"{%else%} href="?{% query_transform request lang=language.code %}" title="?lang={{language.code}}{% if request.GET %}&{{ request.GET.urlencode }}{% endif %}"{%endif%}>
                {%if language.image%}
                    <img src="/media/miracles.site/{{language.image}}">
                {%endif%}
            </a>
        {%endfor%}
    </div>
</div>
<div id="logout">
    <a id="signout" href="/logout">
        <i data-lucide="log-out"></i>
    </a>
</div>
