{%extends extends%}
{%load i18n%}
{%block main%}
    <div id="settings">
        <div id="reload">
            <div class="container">
                <div>
                  <canvas id="UsersChart" height="70px"></canvas>
                </div>
            </div>
            <div class="container">
                <div>
                  <canvas id="OrdersChart" height="70px"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div id="panel-wrapper">
        <div>
            <div class="toggle-panel panel-icon action">
                <i class="ti ti-menu"></i>
            </div>
        </div>
        <div id="panel-shortcuts" class="active">
            {%include panel_shortcuts%}
        </div>
    </div>
    <div id="panel-menu">
        <div id="search">
            <input type="text" id="search-text" placeholder='{% trans "Search" %}' value="{{value}}">
            <div class="toggle-panel panel-icon action">
                <i class="ti ti-menu"></i>
            </div>
        </div>
        {%include panel%}
    </div>
    <script>
        if(!document.querySelector('menu')) location.reload();
    </script>
{%endblock%}