{%load i18n%}
<form action="javascript: void(0)" method="post" id="filters" class="filters">
	<div class="heading">{% trans 'Filter'%}</div>
	<div id="range-1">
		<div class="inputs">
			<div>
				<input autocomplete="off" type="text" id="amount-from" value="{{context.min_price}}" name="retail_price__gte">
			</div>
			<div>
				<input autocomplete="off" type="text" id="amount-to" value="{{context.max_price}}" name="retail_price__lte">
			</div>
		</div>
		<div id="slider-range"></div>
	</div>
	<div class="custom-select">
		<select name="is_available" id="is_available" autocomplete="off">
			<option value="" selected>{% trans 'Availability'%}</option>
			<option value="True">{% trans 'Is available'%}</option>
			<option value="False">{% trans 'Not available'%}</option>
		</select>
	</div>
	<div class="custom-select">
	    <select name="storage__in[]" class='selectedFilter' id='storage-filter'>
	        <option value="">{% trans 'by storage'%}</option>
	        <option value="[2,3]">{% trans 'is available'%}</option>
	        <option value="[1]">{% trans 'to order'%}</option>
	    </select>
	</div>
	<div class="custom-select">
		<select name="export_status__export_id" id="export_status" action="move" autocomplete="off">
			<option value="" selected="">{% trans 'Added to export'%}</option>
			{%for export in exports%}
				<option value='{{export.id}}'>{{export.name}}</option>
			{%endfor%}
		</select>
	</div>
	<div class="radio-wrapper">
		<div class="field">
			<label class="custom-radio">
				{% trans 'Yes'%}
				<input value='True' type="radio" autocomplete="off" name="export_status__load">
				<span class="checkmark">
					<span class="inside"></span>
				</span>
			</label>
		</div>
		<div class="field">
			<label class="custom-radio">
				{% trans 'No'%}
				<input value='False' type="radio" autocomplete="off" name="export_status__load">
				<span class="checkmark">
					<span class="inside"></span>
				</span>
			</label>
		</div>
	</div>
	<div class="custom-select">
		<select name="export_status__meta__name__isnull" id="export_status__meta__name__isnull" autocomplete="off">
			<option value="" selected>{% trans 'Export name'%}</option>
			<option value="False">{% trans 'Available'%}</option>
			<option value="True">{% trans 'Unavailable'%}</option>
		</select>
	</div>
	<div class="custom-select">
		<select name="export_status__meta__text__isnull" id="export_status__meta__text__isnull" autocomplete="off">
			<option value="" selected>{% trans 'Export text'%}</option>
			<option value="False">{% trans 'Available'%}</option>
			<option value="True">{% trans 'Unavailable'%}</option>
		</select>
	</div>
	<div class="autocomplete brand" id="brand" model="brand">
		<input type="text" name="brand__description__name__icontains" value="" placeholder="{% trans 'Manufacturer'%}" autocomplete="off">
		<div class="variants"></div>
	</div>
	<div class="autocomplete category" id="category" model="category">
		<input type="text" name="category__description__name__icontains" value="" placeholder="{% trans 'Category'%}" autocomplete="off">
		<div class="variants"></div>
	</div>
	<div class="custom-select">
		<select name="category__isnull" id="category__isnull" autocomplete="off">
			<option value="" selected>{% trans 'Category'%}</option>
			<option value="False">{% trans 'Available'%}</option>
			<option value="True">{% trans 'Unavailable'%}</option>
		</select>
	</div>
	<div class="custom-select">
		<select name="gallery__isnull" id="gallery__isnull" autocomplete="off">
			<option value="" selected>{% trans 'Foto'%}</option>
			<option value="False">{% trans 'Available'%}</option>
			<option value="True">{% trans 'Unavailable'%}</option>
		</select>
	</div>
	<div class="custom-select">
		<select name="slug__isnull" id="slug__isnull" autocomplete="off">
			<option value="" selected>URL</option>
			<option value="False">{% trans 'Available'%}</option>
			<option value="True">{% trans 'Unavailable'%}</option>
		</select>
	</div>
	<div class="custom-select">
		<select name="attributes__isnull" id="attributes__isnull" autocomplete="off">
			<option value="" selected>{% trans 'Attributes'%}</option>
			<option value="False">{% trans 'Available'%}</option>
			<option value="True">{% trans 'Unavailable'%}</option>
		</select>
	</div>
	<div class="custom-select">
		<select name="storage" id="storage" autocomplete="off">
			<option value="" selected>{% trans 'Storage'%}</option>
			<option value="1">{% trans 'Number 1'%}</option>
			<option value="2">{% trans 'Number 2'%}</option>
			<option value="3">{% trans 'Number 3'%}</option>
		</select>
	</div>
	<div class="custom-select">
		<select name="price_fixed" id="price_fixed" autocomplete="off">
			<option value="" selected>{% trans 'Fixed price'%}</option>
			<option value="True">{% trans 'Yes'%}</option>
			<option value="False">{% trans 'No'%}</option>
		</select>
	</div>
	<div class="custom-select">
		<select name="description__text__isnull" id="description__text__isnull" autocomplete="off">
			<option value="" selected>{% trans 'Description'%}</option>
			<option value="False">{% trans 'Available'%}</option>
			<option value="True">{% trans 'Unavailable'%}</option>
		</select>
	</div>
</form>