<span>{{page}}</span>
<select name="{{id}}" id="id_{{id}}" class='customSelect'>
    <option selected="selected" value="">-----</option>
    {%for item in items%}
        <option value="{{item.id}}">{{item}}</option>
    {%endfor%}
</select>
<script>Dom.query('#id_{{id}}').customSelect();</script>
{%if id == 'city'%}
    <script>
        Dom.query('#id_city').on('change',function(){
            loadField(Dom.query('#id_delivery_type').val(),'departament',Dom.query(this).val());
        });
    </script>
{%endif%}