<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    
    <link rel="icon" type="image/png" href="/static/image/favicon.png" />
    {%include 'main/sprite.svg'%}
</head>
</html>
<body>
<template id="http-loading-template">
    <div id="http-loading"></div>
</template>
<template id="http-alert-template">
    <div id="http-alert">
        <div class="close"></div>
        <div id="http-alert-message"></div>
    </div>
</template>
<template id="variants">
    {?for item in items?}
        <div class="variant" value="{~item.id~}">
            {~item.name~}
        </div>
    {?endfor?}
</template>
<template id="autocomplete_value">
    <div class="value">
        <div class="remove" value="{~id~}"><i class="ti ti-x"></i></div>
        <a href="/{~AdminModel~}/{~id~}">{~name~}</a>
    </div>
</template>
<template id="selectTemplate">
    <div class="select-selected"></div>
    <div class="select-items">
        <div class="sel-items-wrapper"></div>
    </div>
</template>
<template id="autocompleteItem">
    <div class="value">
        <div class="remove" value="{~value~}">
            <i class="ti ti-x"></i>
        </div>
        {~text~}
    </div>
</template>
{%block body%}
{%endblock%}
<div id="bg"></div>
<link rel="stylesheet" href="/static/css/desktop/main.css">
<link rel="stylesheet" href="/static/css/desktop/categories.css">
<link rel="stylesheet" href="/static/css/desktop/category.css">
<link rel="stylesheet" href="/static/css/desktop/checkbox.css">
<link rel="stylesheet" href="/static/css/desktop/edit.css">
<link rel="stylesheet" href="/static/css/desktop/editor.css">
<link rel="stylesheet" href="/static/css/desktop/list.css">
<link rel="stylesheet" href="/static/css/desktop/login.css">
<link rel="stylesheet" href="/static/css/desktop/menu.css">
<link rel="stylesheet" href="/static/css/desktop/nouislider.css">
<link rel="stylesheet" href="/static/css/desktop/order.css">
<link rel="stylesheet" href="/static/css/desktop/quill.snow.css">
<link rel="stylesheet" href="/static/css/desktop/radio.css">
<link rel="stylesheet" href="/static/css/desktop/select.css">
<link rel="stylesheet" href="/static/css/desktop/settings.css">
<link rel="stylesheet" href="/static/css/desktop/tabler-icons.min.css">
<script>
    window.BASE_URL = "{{BASE_URL}}";
    window.DJANGO_LANG = "{{ request.LANGUAGE_CODE }}";
</script>
<script type="module" src="/static/js/vanilla-js/ui/prototype/index.js"></script>
<script type="module" src="/static/js/manager/desktop/app/views_register.js"></script>
<script type="module" src="/static/js/modules/index.js"></script>
<script type="module" src="/static/js/vanilla-js/ui/utils.js"></script>
<script type="module">
    import { Navigation } from "/static/js/vanilla-js/http/navigation.js";
    import { Dom } from "/static/js/vanilla-js/ui/dom.js";
    import { default_urlpatterns } from "/static/js/manager/desktop/app/urls.js";

    lucide.createIcons( lucide.icons );

    Navigation.page_context = {{context|safe|default:'{}'}};

    const urlpatterns = {
        "^/login(\\?(?<next>[\\s\\S]*))?$": { "GET": "Login" },
        "^/logout$": { "GET": "Logout" },
    };

    Navigation.init(Object.assign(default_urlpatterns, urlpatterns));
    window.Navigation = Navigation;
    window.Dom = Dom;
</script>
{%block JS%}
{%endblock%}
</body>
</html>